@font-face {
    font-family: "iconfont"; /* Project id 3196585 */
    src: url('https://at.alicdn.com/t/font_3196585_36xjcpu74vf.ttf') format('truetype');
  }
  
  .iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }